   # Python
            venv/
            __pycache__/
            .env
            *.pyc

            # React
            node_modules/
            build/
            .env.local
            .env.development.local
            .env.test.local
            .env.production.local
            .DS_Store
            # keep .env for backend only if you want it version controlled
            # but usually it's excluded or carefully managed